
body {
    background: linear-gradient(#160D38,#3F249E);
    margin: 0;
    padding: 0;
    font-family: "Instrument Serif", serif;
    font-weight: 300;
    min-height: 100vh;
    background-size: cover;
}
.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 300;
  font-style: normal;
}
.instrument-serif-regular-italic {
     font-family: "Instrument Serif", serif;
     font-weight: 300;
     font-style: italic;
}

p {
    font-size: 60px;
    font-weight: 300;
    font-style: italic;
    color: white;
}

.hover-linkstarsvami {
    position: absolute;   /* move the whole group by changing these values */          /* adjust to move vertically */
    left: 100px;          /* adjust to move horizontally */
    width: 50px;         /* optional: container size */
    height: 50px;
    pointer-events: none; /* allow clicks to pass unless specific links inside */
}

.hover-linkstarsvami img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: auto;
}
.hover-linkstarsvami p{
    position: relative;
    top: -70px;
    left: 50px;
    width: 100px;
    opacity: 0;
    transition: transform 0.3s;
}

.hover-linkstarsvami:hover p{
   opacity: 1;
   transition: transform 0.3s;
}

.hover-linkstarsvami:hover img { transform: scale(1.5); }



















#nan {
    position: absolute;
    top: 100px;
    right: 1000px;
    width: 100px;
    padding: 30px;
}

#unran {
    position: absolute;
    top: 200px;
    right: 800px;
    width: 100px;
    padding: 30px;
}

#adimai {
    position: absolute;
    top: 300px;
    right: 550px;
    width: 100px;
    padding: 30px;
}

#enru {
    position: absolute;
    top: 400px;
    right: 200px;
    width: 100px;
    padding: 30px;
}

#ulagamellam {
    position: absolute;
    top: 500px;
    right: 750px;
    width: 100px;
    padding: 30px;
}

#ariyume {
    position: absolute;
    top: 600px;
    left: 200px;
    width: 100px;
    padding: 30px;
}