.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 200;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 200;
  font-style: italic;
}


:root{
    --font-title: "Instrument Serif", serif;
    --bg-color: rgb(144, 136, 255);
    --fg-color: #ffffff;
    --r-text: 20px;
    --l-text: 60px;
}


body{
    margin:0;
    padding:0;
    font-family: var(--font-regular);
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-size: var(--r-text);
}

h1 {
    font-size: 200px;
    font-weight: 400;
    font-family: var(--font-title);
    margin: 20px;
    text-align: center;

    

}
button{
    border-radius: 0;
    border: 1px solid;
    background-color: var(--bg-color);
    font-family: var(--font-title);
    font-size: var(--r-text);
    padding: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 50%;
}
button:hover{
    background-color: var(--fg-color);
    color: var(--bg-color);
}
.panel img{
    width: 80px;
}
.panel{
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 2s;
    position: fixed;
    top: 0;
    left: 0;
}
.panel.hide{
    opacity: 0;
    pointer-events: none;
}

#intro, #main  {
    background-image: url('./assets/1.temple-main.jpg');
    background-size: cover;
    background-position: center;
}

#stairs {
    background-image: url('./assets/2.temple-stairs.jpeg');
    background-size: cover;
    background-position: center;
}

#door {
    background-image: url('./assets/3.temple-door.jpeg');
    background-size: cover;
    background-position: center;
}

#inside {
    background-image: url('./assets/4.temple-inside.jpeg');
    background-size: cover;
    background-position: center;
}

#shrine {
    background-image: url('./assets/5.temple-shrine.jpeg');
    background-size: cover;
    background-position: center;
}

