body {
    background-color: #160D38;
    background-size: 100vh;
    margin: 0;

}
.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 300;
  font-style: italic;
}

button {
    position: fixed;
    bottom: 60px;               /* distance from bottom */
    left: 50%;                  /* center horizontally */
    transform: translateX(-50%);/* truly center the button */
    z-index: 2;                 /* above the temple image (which is -1) */
    color: #160D38;
    background: white;
    opacity: 0.9;
    font-family: "Instrument Serif", serif;
    font-weight: 300;
    font-size: 45px;
    cursor: pointer;
    border: 1px solid #6DF5FF;
    padding: 12px 28px;
    border-radius: 8px;
}

button:hover {
    color: #5C3AD3;
    transition: color 0.3s;
}
 
#container {
    width: 100%;
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}
#container img{
    width:100vw;
    display: none;
}


#container #temple-heading {
    /* fill the viewport */
    position: fixed;
    display: block;
    inset: 0;              /* shorthand for top:0; right:0; bottom:0; left:0; */
    width: 100%;
    height: 100%;
    object-fit: cover;        /* crop to fill without distortion */
    object-position: center;
    z-index: -1;              /* place behind other content */
    pointer-events: none;     /* allow clicks through if needed */
}
#container.move #temple-main {
    display: block;
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 130vh;
    object-fit: center;
    object-position: center;
    z-index: -1;
    pointer-events: none;
}
#container.move #temple-heading {
    display: none;
}

#container #temple-main {
     /* fill the viewport */
    position: fixed;
    display: block;
    inset: 0;              /* shorthand for top:0; right:0; bottom:0; left:0; */
    width: 100%;
    height: 100%;
    object-fit: cover;        /* crop to fill without distortion */
    object-position: center;
    z-index: -1;              /* place behind other content */
    pointer-events: none;     /* allow clicks through if needed */
}

#container.move #temple-stairs {
    /* fill the viewport */
    position: fixed;
    display: block;
    inset: 0;              /* shorthand for top:0; right:0; bottom:0; left:0; */
    width: 100%;
    height: 100%;
    object-fit: cover;        /* crop to fill without distortion */
    object-position: center;
    z-index: -1;              /* place behind other content */
    pointer-events: none;     /* allow clicks through if needed */
}

#container.move #temple-main {
    display: none;
}

