:root{
    --bg-color: #2a132d;
    --fg-color: #bb8a7f;
    --space-large: 100px;
    --space-medium: 24px;
    --space-small: 10px;
    --font-size-regular: 20px;

}

body{
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-size: var(--font-size-regular);
}

button{
    margin: var(--space-medium);
    border: 1px solid var(--fg-color);
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-size: var(--font-size-regular);
    cursor: pointer;
}
button:hover{
    background-color: var(--fg-color);
    color: var(--bg-color);
}
main{
    padding: var(--space-large);
}

#container{
    width: 100%;
}
#container img{
    width: 100%;
    max-width: 700px;
}
/* hide the open rose by default */
#container #shakti{
    display: none;
}

#container.watered #shakti{
    display: block;
}

#container.watered #shiva{
    display: none;
}
